.profile-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: transparent;
    overflow: hidden;

    img{
        height: 50px;
    }
}
